.button {
  position: relative;
  font-style: normal;
  text-align: center;
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  cursor: pointer;
}
.button:disabled {
  cursor: default;
}

/* Appearances */
.primary {
  background: #f7f8fc;
  border: 1px solid #dae1f5;
  box-sizing: border-box;
  border-radius: 5px;
  color: #545d7a;
  font-weight: 600;
}
.secondary {
  background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 100%);
  border: 1px solid #dae1f5;
  border-radius: 8px;
  color: #616161;
}
.white {
  background: #ffffff;
  border: 1.5px solid #dde4ea;
  border-radius: 3px;
  color: #000000;
  font-style: normal;
  font-weight: 600;
}
.success {
  padding-top: 3px !important;
  background: #59931f;
  color: #ffffff;
  border-radius: 6px;
  border-bottom: 3px solid #689f34;
  position: relative;
}
.success::after {
  content: "";
  position: absolute;
  width: calc(100% - 2px);
  top: 1px;
  right: 1px;
  left: 1px;
  background: #689f34;
  height: 11px;
  border-radius: 6px;
}

.success::before {
  content: "";
  position: absolute;
  width: calc(100% - 2px);
  top: 3px;
  right: 1px;
  left: 1px;
  background: #59941f;
  height: 10px;
  border-radius: 6px;
  z-index: 2;
}
.warning {
  background: #ac0000;
  border: 2px solid #8a0101;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px #730000;
  border-radius: 3px;
  color: #ffffff;
  text-shadow: 0px -1px 1px #8a0101, 1px 0px 1px #8a0101, 0px 1px 1px #8a0101, -1px 0px 1px #8a0101;
}
.icon {
}
.link {
  color: #2e4369;
  font-weight: 600;
}
.delete {
  text-decoration-line: underline;
  color: #ac0000;
  font-weight: 600;
}

/* Sizes */
.big {
  font-size: 16px;
  font-weight: 600;
  padding: 0 24px;
  height: 60px;
  gap: 14px;
}
.medium {
  font-weight: 600;
  font-size: 16px;
  padding: 0px 22px;
  height: 50px;
  gap: 12px;
}
.small {
  font-weight: 600;
  font-size: 14px;
  padding: 0 20px;
  height: 44px;
  gap: 10px;
}
.tiny {
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px;
  height: 30px;
  gap: 8px;
  line-height: 1.6;
}

/* Disabled */
.primary:disabled {
  color: #b0b0b0;
  opacity: 0.2;
}
.secondary:disabled {
  background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 100%);
  color: rgba(97, 97, 97);
  opacity: 0.2;
}
.white:disabled {
}
.success:disabled {
  background: #477b14;
  border-color: #477b14;
  color: rgba(206, 223, 210);
  opacity: 0.2;
}
.warning:disabled {
  opacity: 0.5;
}
.icon:disabled {
  text-decoration: underline;
}
.link:disabled {
  color: #b0b0b0;
}
.delete:disabled {
  color: #730000;
  opacity: 0.6;
}

/* Hover */
.primary:hover {
  opacity: 0.9;
  color: #48516d;
}
.secondary:hover {
  background: linear-gradient(180deg, #ffffff 0%, #d9d9d9 89.6%);
  border: 1px solid #b1bfe6;
}
.white:hover {
}
.success:hover {
  background: #477b14;
  border-color: #477b14;
}

.success:hover::after,
.success:hover::before {
  opacity: 0;
}

.warning:hover {
}
.icon:hover {
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
}
.delete:hover {
}

/* Focus */
.primary:focus {
  background: #ebf2f7;
  color: #48516d;
}
.secondary:focus {
  background: #477b14;
  border-color: #477b14;
  color: rgba(120, 143, 183, 0.7);
}
.white:focus {
}
.success:focus {
  background: #75c496;
  border-color: #75c496;
  color: rgba(255, 255, 255, 0.5);
}
.success:focus::after,
.success:focus::before {
  opacity: 0;
}
.warning:focus {
}
.icon:focus {
  text-decoration: underline;
}
.link:focus {
  text-decoration: underline;
  filter: grayscale(20%);
  opacity: 0.8;
}
.delete:focus {
  text-decoration: underline;
  opacity: 0.8;
}

/* Active */
.primary:active {
}
.secondary:active {
  background: linear-gradient(180deg, #ffffff 0%, #ced0da 89.6%);
  border: 1px solid #b1bfe6;
}
.white:active {
}
.success:active {
  border-color: #4b791c;
  background: #4b791c;
  color: white;
}
.warning:active {
}
.icon:active {
  text-decoration: underline;
}
.link:active {
  color: #0073aa;
  border: 0;
  opacity: 0.8;
}
.delete:active {
  border: 0;
}

/* Loading */
.primary.loading {
  color: #0073aa;
}
.secondary.loading {
  color: #616161;
}
.white.loading {
}
.success.loading {
  color: white;
}
.warning.loading {
  color: white;
}
.icon.loading {
}
.link.loading {
  color: #0073aa;
}
.delete.loading {
}
.loading::after,
.loading::before {
  opacity: 0;
}
/* Loader */

.loading {
  opacity: 0.9 !important;
  cursor: default;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10px;
  margin-right: -5px;
  flex: 1 1 auto;
}

.loader div {
  transform: scale(1) !important;
  animation: rotate 800ms infinite linear;
}

.centerLoader {
  padding: 0 10px !important;
  margin-right: 0 !important;
}

.centerLoader {
  justify-content: center;
}

.big .centerLoader {
}
.medium .centerLoader {
  height: 20px;
}
.small .centerLoader {
  height: 18px;
}
.tiny .centerLoader {
}

/* Icons */

.button img {
  margin: auto 0;
}

.loadingImg {
  width: 38px;
  animation: rotate 3s ease infinite;
}

/* Animations */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
