.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 256px;
  height: 256px;
  stroke-width: 2px;
  stroke: #fff;
  fill: transparent;
  stroke-dasharray: 157;
  stroke-dashoffset: 0px;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 157;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    transform: rotate(360deg);
    stroke-dashoffset: -157;
  }
}
