.container {
  margin: 80px 0 250px 0;
  text-align: center;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding: 40px 0 25px 0;
}

.title {
  font-weight: 700;
  font-size: 62px;
  line-height: 76px;
  color: #000000;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin: 20px 0 30px 0;
}

.text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.textSmall {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.email {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: #00589f;
  margin-top: -15px;
  overflow-wrap: break-word;
  padding: 0 20px;
}

@media (max-width: 992px) {
  .title {
    font-size: 36px;
  }
  .text {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 30px;
  }
  .text {
    font-size: 16px;
  }
}
