.wrapper {
  overflow: hidden;
}

.header {
  position: relative;
  padding: 40px 0 30px 0;
}

.headerTitle {
  position: relative;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 4px 12px rgba(0, 0, 0, 0.45), -2px 4px 8px rgba(0, 0, 0, 0.45);
  margin: 0 auto;
  max-width: 800px;
  z-index: 1;
}

.headerText {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #92acb4;
  border-bottom: 1px solid #92acb4;
  padding: 10px 0;
  margin: 25px -100vw;
  z-index: 1;
}

.pageBg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}

.downBtn {
  cursor: pointer;
  position: absolute;
  height: 51px;
  width: 51px;
  background: #f2bb05;
  border: 5px solid white;
  border-radius: 100px;
  box-shadow: 0 0 20px -10px black;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  cursor: pointer;
  animation: arrowAnim 2.2s ease-in-out 0s infinite;
}

@keyframes arrowAnim {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-4px);
  }
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 0;
  padding: 13px 0;
  margin: 20px 0 50px 0;
}

.btnWrapper div {
  cursor: pointer;
  display: inline-block;
  min-width: 150px;
  width: 400px;
  text-align: center;
  background: silver;
  padding: 15px 25px;
  font-weight: 700;
  background: linear-gradient(180deg, #59931f 2.73%, #346800 95.49%);
  border: 1px solid #346800;
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
}

.btnWrapper div:hover {
  background: linear-gradient(180deg, #406b15 2.73%, #244701 95.49%);
}

.btnWrapper img {
  margin: -30px 0 0 10px;
  position: relative;
  top: 17px;
}

.mainContent {
  position: relative;
  margin-top: 80px;
}

.text {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 30px;
}

.textLessDownSpacing {
  margin-bottom: 15px;
}

.bold {
  font-family: "Georgia", sans-serif;
  font-weight: bold;
}

.title {
  font-family: "Georgia", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 63px;
  text-transform: uppercase;
  color: #123042;
  text-align: center;
  display: inline-block;
  width: 100%;
  border-top: 13px solid #3d7294;
  border-bottom: 13px solid #3d7294;
  padding: 7px 0;
}

.topImgWrapper {
  float: right;
  margin-left: 100px;
}

.topImgWrapper img {
  width: 100%;
  border: 1px solid #dadada;
}

.topImgWrapper p {
  font-family: "Georgia", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  color: #4a4a4a;
  text-align: center;
}

.list {
  position: relative;
  padding-left: 35px;
  margin: 0 0 10px 0;
}

.list:after {
  content: url("../../assets/images/checkmark.svg");
  position: absolute;
  left: 0;
  top: 2px;
  transform: scale(1.2);
}

.imgWrapper {
  width: 100%;
  margin: 40px 0 50px 0;
}

.imgWrapper img {
  width: 100%;
}

.imgShadow img {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.imgWrapperBigger {
  width: 120%;
  margin: -55px 0 -55px -10%;
}

.imgWrapperSizeFix{
  width: 105%;
  margin: 0 0 30px -2.5%;
}

.textBlock {
  box-shadow: 0px 3px 32px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  background: #fefeed;
  position: relative;
  padding: 20px 65px 40px 65px;
  margin: 60px 0;
}

.textBlock:after {
  content: "";
  border: 8px solid #d6d6d6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 32px);
  width: calc(100% - 32px);
}

.textBlockTitle {
  font-family: "Georgia", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  line-height: 63px;
  text-decoration-line: underline;
  color: #000000;
}

@media only screen and (min-width: 1450px) {
  .headerTitle {
    font-size: 62px;
    line-height: 72px;
    max-width: 900px;
  }
}

@media only screen and (max-width: 992px) {
  .headerText {
    font-size: 30px;
    line-height: 31px;
  }
}

@media only screen and (max-width: 768px) {
  .headerTitle {
    font-size: 46px;
    line-height: 55px;
    margin-top: 0;
  }

  .headerText {
    font-size: 24px;
    line-height: 31px;
    margin: 25px -30px;
    padding: 10px 47px;
  }

  .topImgWrapper {
    float: none;
    margin: 0 auto;
    max-width: 250px;
  }

  .title {
    font-size: 32px;
    line-height: 48px;
  }

  .textBlock {
    padding: 20px 50px 40px 50px;
  }

  .textBlockTitle {
    font-size: 28px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 480px) {
  .headerTitle {
    font-size: 36px;
    line-height: 43px;
    padding: 0 5px;
  }

  .textBlock {
    padding: 20px 35px 40px 35px;
  }

  .text {
    font-size: 18px;
    line-height: 32px;
  }

  .header {
    padding: 25px 0;
  }

  .imgWrapperBigger {
    margin: -20px 0 -5px -10%;
  }
}
