.timer :global .flip-clock {
  font-size: 11px;
  width: auto;
}

.timer :global .flip-clock-label {
  display: none;
}

.timer :global .flip-clock-divider {
  margin-left: -13px;
}

.timer :global .flip-clock-group {
  margin-right: 0.7em;
}

.timer :global .flip-clock .flip-clock-group .flip-clock-list {
  width: 4em;
  border-radius: 5px;
  color: white;
}

.timer :global .flip-clock .flip-clock-group .flip-clock-list:not(:last-child) {
  margin-right: 0.5em;
}

.timer :global .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .top,
.timer
  :global
  .flip-clock
  .flip-clock-group
  .flip-clock-list
  .flip-clock-list-item-inner
  > .bottom {
  background: #e42121;
  box-shadow: none;
  font-weight: 700;
}

.timer :global .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .top {
  border-radius: 5px 5px 0px 0px;
}

.timer
  :global
  .flip-clock
  .flip-clock-group
  .flip-clock-list
  .flip-clock-list-item-inner
  > .bottom {
  border-radius: 0px 0px 5px 5px;
}

.timer :global .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner {
  border-radius: 5px;
}

.timer :global .flip-clock .flip-clock-group .flip-clock-list.flip .before .top:after,
.timer :global .flip-clock .flip-clock-group .flip-clock-list.flip .before .bottom:after {
  content: none;
}

.timer
  :global
  .flip-clock
  .flip-clock-group
  .flip-clock-list
  .flip-clock-list-item-inner
  .bottom:before {
  content: none;
}

.timer :global .flip-clock .flip-clock-group .flip-clock-list {
  width: 4em;
  border-radius: 5px;
  color: white;
  display: inline-block;
}
