.video,
.videoWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  background: #272727;
  height: 0;
}
.video .wrapper,
.videoWrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

@media only screen and (max-width: 480px) {
  .video {
    max-width: 100%;
  }
  .video .wrapper {
    position: relative;
    min-width: 100%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
}

.videoContainer {
  background: white;
  position: relative;
  padding: 13px;
  z-index: 1;
}
.hiddenVideoIframe {
  display: none !important;
}
.videoThumbnail {
  width: calc(100% - 26px);
  height: calc(100% - 26px);
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 13px;
  opacity: 0;
  visibility: hidden;
}
.activeVideoThumbnail {
  opacity: 1;
  visibility: visible;
}

.btnWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 0;
  padding: 13px 0;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 1;
  display: none;
}
.activeBtnWrapper {
  opacity: 1;
  visibility: visible;
  transform: translateY(-13px);
  display: flex;
}
.btnWrapper button {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  min-width: 150px;
  width: 350px;
  text-align: center;
  background: silver;
  padding: 13px 25px 15px 25px;
  font-weight: 700;
  background: linear-gradient(180deg, #faaa56 0%, #964b00 100%);
  border: 1.59836px solid #c4792b;
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
  animation: btnAnim 2s ease-in-out infinite;
}
@keyframes btnAnim {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.btnWrapper button:hover {
  color: white;
}
.btnWrapper button:after {
  content: "";
  position: absolute;
  height: 100px;
  width: 20px;
  left: -40px;
  top: -20px;
  background: rgba(255, 255, 255, 0.9);
  transform: rotate(20deg);
  animation: btnFlare 3s ease-in-out 1s infinite;
}
@keyframes btnFlare {
  0% {
    left: -40px;
  }
  10% {
    left: 400px;
  }
  100% {
    left: 400px;
  }
}
.btnWrapper img {
  margin: -35px 0 0 0;
  position: relative;
  top: 17px;
  left: 7px;
  width: 46px;
  height: 46px;
}

.secondBtn {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
  margin: 30px 0 20px 0;
  opacity: 0.6;
  display: none;
}

.activeSecondBtn {
  display: block;
}

@media (max-width: 992px) {
  .btnWrapper button {
    animation: none;
    width: 290px;
  }
  .btnWrapper button:after {
    display: none;
  }
  .btnWrapper {
    padding: 30px 0 13px 0;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1500px) and (max-height: 800px) and (min-height: 700px) {
  .videoContainer,
  .btnWrapper {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1100px) and (max-height: 600px) and (min-height: 500px) {
  .videoContainer,
  .btnWrapper {
    max-width: 75%;
    margin: 0 auto;
  }
}
