.toastr {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 4px 4px 0 0;
  width: calc(100% + 20px);
  margin-left: -20px;
}

.icon {
  display: flex;
  align-items: flex-start;
  padding-right: 20px;
}

.icon img {
  width: 30px;
  height: 30px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  padding-right: 20px;
  background: transparent;
}

/* Types */

.success {
  background: #249b56;
  filter: drop-shadow(0px 5px 12px rgba(36, 155, 86, 0.4));
}
.warning {
  background: #e07602;
  filter: drop-shadow(0px 5px 12px rgba(224, 118, 2, 0.4));
}
.error {
  background: #cc0033;
  filter: drop-shadow(0px 5px 12px rgba(224, 46, 2, 0.4));
}
.info {
  background: #00b9ff;
  filter: drop-shadow(0px 5px 12px rgba(2, 135, 224, 0.4));
}
.info img {
  transform: rotate(180deg);
}
.message {
  background: white !important;
}
.message * {
  color: #2e4369;
}
.message .text {
  margin-bottom: 0px !important;
}

/* Media */

@media (max-width: 992px) {
}

@media (max-width: 500px) {
  .toastr {
    padding: 12px;
  }
  .icon img {
    width: 20px;
    height: 20px;
  }
  .text {
    font-size: 14px;
  }
}
