/* Label */

.label {
  font-family: Arial, serif;
  font-style: normal;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 6px;
}

/* Placement */

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* Sizes */

.large {
  font-size: 26px;
}
.big {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}
.medium {
  font-size: 14px;
}
.small {
  font-size: 12px;
}
