.container {
  max-width: 800px;
  margin: 0 auto;
}

.pageWrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pageWrapper:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s;
}
.pageWrapperDark:after {
  background: rgba(0, 0, 0, 0.7);
}

.pageBg {
  position: fixed;
  top: -75px;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: calc(100vh + 75px);
}

.header {
  position: relative;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 4px 12px rgba(0, 0, 0, 0.45), -2px 4px 8px rgba(0, 0, 0, 0.45);
  margin: 5px 0 0 0;
  z-index: 1;
}

.subheader {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #92acb4;
  border-bottom: 1px solid #92acb4;
  padding: 10px 0;
  margin: 15px -100vw 30px -100vw;
  z-index: 1;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}

.downInfo {
  position: relative;
  text-align: center;
  z-index: 1;
}
.downInfoHeader {
  color: white;
  opacity: 0.4;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  text-decoration-line: underline;
  transition: 0.2s;
}
.downInfoHeaderVisibility {
  opacity: 0.1;
}
.downInfoText {
  color: white;
  font-size: 12px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
}
.activeDownInfoText {
  opacity: 0.4;
  visibility: visible;
}

.exitPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 620px;
  padding: 30px 50px;
  border-radius: 5px;
  transition: 0.5s;
  z-index: 10;
}

.popupTitle {
  font-style: normal;
  font-size: 21px;
  line-height: 28px;
  padding-bottom: 10px;
  margin-top: 0;
  border-bottom: 1px solid silver;
  text-align: center;
}
.popupTitleRed {
  color: #be0000;
  font-weight: 800;
}
.popupText {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  color: #000000;
}
.popupText img {
  margin-right: 10px;
}
.popupTextBold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.popupInner {
  background: #ffffff;
  border: 0.862613px solid #767785;
  box-sizing: border-box;
  box-shadow: 0px 3.45045px 34.5045px rgba(0, 0, 0, 0.25);
  width: 520px;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popupInnerTitle {
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 36px;
  text-transform: uppercase;
  color: #10204f;
  width: 100%;
}
.popupTitleBold {
  font-weight: 700;
}
.popupInnerTitleBig {
  font-size: 28px;
  line-height: 21px;
}
.popupInnerDate {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #10204f;
}
.popupInnerItem {
  position: relative;
  background: #ffffff;
  border: 0.996321px solid #10204f;
  box-sizing: border-box;
  width: 48%;
  margin-bottom: 20px;
}
.popupInnerItem .popupInnerTitle {
  margin: 5px 0;
}
.popupInnerItem:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background: #10204f;
}
.popupArrow {
  position: absolute;
  top: -50px;
  right: 20px;
}
.popupInnerItemBig {
  width: 100%;
  border: 2.4908px solid #59931f;
  box-sizing: border-box;
  border-radius: 1.72523px;
  padding-top: 15px;
}
.popupInnerItemBig:after {
  content: none;
}
.popupBtnContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 95%;
  margin: 20px auto 0 auto;
  border-top: 1px solid silver;
  padding-top: 25px;
}
.popupInnerBigText {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: -2px;
  text-transform: uppercase;
  color: #ffffff;
  background: #59931f;
  padding: 13px 0;
  width: 100.3%;
}
.popupBtn {
  cursor: pointer;
  background: #00589f;
  box-sizing: border-box;
  border: 1px solid #003b6b;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  width: 48%;
}
.popupBtn:hover {
  color: white;
}
.popupBtn:active,
.popupBtn:focus {
  background: black;
  color: white;
}
.popupBtnSecond {
  background: #af2830;
  border: 1px solid #740000;
}
.popupCloseBtn {
  font-style: normal;
  cursor: pointer;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-decoration-line: underline;
  color: #ffffff;
  opacity: 0.5;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playerArrow {
  position: absolute;
  left: 120px;
  top: 120px;
}
.playerText {
  position: absolute;
  top: 20px;
  left: 20px;
}

@media only screen and (min-width: 1450px) {
  .container {
    max-width: 900px;
  }

  .playerArrow {
    left: 150px;
    top: 120px;
  }

  .playerText {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .header {
    font-size: 62px;
    line-height: 72px;
  }
}

@media only screen and (max-width: 992px) {
  .subheader {
    font-size: 30px;
    line-height: 31px;
    margin: 15px -100vw;
  }

  .downInfoHeader {
    margin-top: 80px;
  }

  .downInfoText {
    display: none;
  }
  .activeDownInfoText {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 46px;
    line-height: 55px;
    margin-top: 0;
  }

  .subheader {
    font-size: 24px;
    line-height: 31px;
    margin: 25px -30px;
    padding: 10px 47px;
  }

  .playerArrow {
    width: 127px;
    left: 60px;
    top: 90px;
  }

  .playBtn {
    width: 90px;
  }

  .playerText {
    width: 250px;
  }

  .pageBg {
    height: 120vh;
  }

  .exitPopup {
    width: 95%;
  }

  .popupBtn {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    font-size: 36px;
    line-height: 43px;
    padding: 30px 5px 0 5px;
    max-width: 370px;
    margin: 0 auto;
  }

  .playerText,
  .playerArrow {
    display: none;
  }

  .popupBtn {
    width: 90%;
    margin: 3px auto;
  }

  .exitPopup,
  .darkBg {
    display: none;
  }

  .btnWrapper div {
    margin: 0 13px;
  }
}

@media only screen and (max-width: 480px) and (max-height: 700px) and (min-height: 650px) {
  .header {
    padding-top: 0;
  }

  .subheader {
    margin: 10px -30px;
    padding: 5px 47px 7px 47px;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1500px) and (max-height: 800px) and (min-height: 700px) {
  .header {
    font-size: 52px;
    line-height: 62px;
    max-width: 750px;
    margin: 5px auto 0 auto;
  }

  .subheader {
    margin: 10px -100vw;
    font-size: 28px;
    line-height: 34px;
  }

  .playerArrow {
    top: 120px;
    width: 160px;
  }
  .playerText {
    width: 300px;
    top: 30px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1100px) and (max-height: 600px) and (min-height: 500px) {
  .header {
    font-size: 32px;
    line-height: 42px;
    max-width: 500px;
    margin: 5px auto 0 auto;
  }

  .subheader {
    margin: 10px -100vw;
    font-size: 19px;
    line-height: 19px;
  }

  .playerArrow {
    top: 70px;
    width: 110px;
  }
  .playerText {
    width: 200px;
    top: 10px;
  }
}
