.whiteBg {
  background: white;
  position: relative;
}
.whiteBg:after,
.whiteBg:before {
  content: "";
  background: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.whiteBg:after {
  left: -100%;
}
.whiteBg:before {
  right: -100%;
}

.italic {
  font-family: "Georgia", serif;
  font-style: italic;
}
.bold {
  font-family: "Georgia", serif;
  font-weight: bold;
}
p.p {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #212b36;
}
.noLineBrake {
  white-space: nowrap;
}
code.code {
  font-family: "Georgia", serif;
  background: #ffea82;
  display: inline-block;
  padding: 0 7px;
}

.topContent {
  padding-bottom: 30px;
}
.topContent h3:first-child {
  font-family: "Georgia", serif;
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 50px;
  color: #000000;
  text-align: center;
}
.topContent img:first-of-type {
  float: left;
  margin: -10px 0;
}
.topContent h2 {
  font-size: 42px;
  line-height: 55px;
  color: #000000;
  padding: 25px 60px 25px 330px;
  background: #ebffca;
}
.topContent h2 span {
  font-family: Arial;
  font-style: normal;
}
.topContent h3:last-of-type {
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  margin-top: 50px;
  margin-right: 60px;
}
.topContent h3:last-of-type span {
  font-family: Arial, serif;
}
.topContent h3:last-of-type .italic .bold {
  font-style: italic;
}

.advantagesContainer {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
}
.advantagesContainer .italic .bold {
  font-style: italic;
}
.advantagesContainer img {
  position: relative;
  z-index: 1;
}
.advantagesContainerFirst {
  padding-top: 30px;
}
.advantagesContainerFirst img {
  left: -100px;
}
.advantagesContainerSecond img {
  left: -35px;
}
.advantagesContainerThird {
  padding-bottom: 60px;
}
.advantagesContainerThird img {
  left: -80px;
  top: 30px;
}

.guarantee {
  background: white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
  padding: 55px 60px 40px 60px;
  position: relative;
  width: calc(100% + 150px);
  margin: 50px 0 50px -75px;
  z-index: 1;
}
.guarantee:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border: 8px solid #d6d6d6;
  box-sizing: border-box;
  pointer-events: none;
}
.guarantee h2 {
  font-family: "Georgia", serif;
  font-size: 42px;
  line-height: 63px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
  margin-top: 0;
  text-shadow: 0px 5px 14px rgba(2, 25, 65, 0.25);
}
.guarantee img {
  float: right;
  max-width: 250px;
  padding: 30px 0;
}

.testimonial {
  padding: 20px 0 50px 0;
}
.testimonial h2 {
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  font-style: italic;
  color: #00589f;
}
.testimonial img {
  background: white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
  position: relative;
  padding: 13px;
  margin: 0 auto 30px auto;
  min-height: 500px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

@media (max-width: 1100px) {
  .guarantee {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .topContent img:first-of-type {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    float: none;
  }

  .topContent h2 {
    font-size: 32px;
    line-height: 42px;
    padding: 20px;
  }

  .advantagesContainer {
    grid-template-columns: 35% 65%;
    gap: 30px;
  }

  .testimonial img {
    padding: 5px;
    min-height: initial;
  }
}

@media (max-width: 768px) {
  .topContent h3:last-of-type {
    font-size: 24px;
    line-height: 36px;
    margin-right: 0;
  }

  .advantagesContainer {
    grid-template-columns: 100%;
    gap: 0;
  }

  .guarantee {
    padding: 30px 40px;
  }

  .guarantee img {
    float: none;
    margin: 0 auto;
    display: block;
    padding: 0;
  }

  .guarantee h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .advantagesContainer img {
    margin: 0 auto;
    max-width: 100%;
  }

  .advantagesContainer img {
    left: 0;
  }
}

@media (max-width: 480px) {
  .topContent h3:first-child {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .topContent h2 {
    font-size: 22px;
    line-height: 33px;
  }

  .guarantee img {
    display: none;
  }

  .guarantee h2 {
    font-size: 20px;
    line-height: 33px;
  }

  .guarantee {
    padding: 40px 30px;
  }

  .guarantee:after {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border: 2px solid #d6d6d6;
  }
}
