.wrapper {
  position: relative;
  width: 100px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 3px;
}

.wrapper > .image {
  cursor: pointer;
}

.wrapper:hover .preview {
  display: block;
}

.image {
  width: 100%;
}

.wrapper > .image {
  max-width: 65px;
  margin-top: 4px;
}

.preview {
  width: 200px;
  position: absolute;
  top: 10px;
  left: 80px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 1.5px solid #b9bbc5;
  z-index: 4;
  display: none;
}

@media (max-width: 998px) {
  .preview {
    left: -65px;
    top: 70px;
    width: 180px;
  }
}
