.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  max-width: 800px;
  background: #fff;
  overflow: auto;
  max-height: calc(100vh - 120px);
  border: 1px solid #979797;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.head {
  position: relative;
  background: #eff3f5;
}

.title {
  font-family: Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: center;
  padding: 40px 0;
}

.body {
  padding: 40px 80px 40px;
  font-family: Arial, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}

.text {
  text-align: center;
  font-family: Arial, serif;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

.info {
  text-align: center;
  font-family: Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #00000080;
  margin-top: 25px;
}

.link {
  font-family: Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #00000080;
}

.btn {
  width: 100%;
  font-size: 22px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 5px 2px;
  background: transparent;
  border: 0;
  border-radius: 2px;
}

.closeBtn:hover {
  background: rgba(97, 97, 97, 0.08);
}

.closeBtn:active {
  opacity: 0.5;
}

.closeBtn:focus {
  background: rgba(97, 97, 97, 0.1);
}

.btn {
  height: 70px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04px;
  background: linear-gradient(180deg, #59931f 2.73%, #346800 95.49%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
}
.btn:after,
.btn:before {
  display: none;
}
.btn:hover,
.btn:active,
.btn:focus {
  background: linear-gradient(180deg, #406b15 2.73%, #244701 95.49%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

@media (max-width: 800px) {
  .content {
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
  }

  .title {
    padding: 30px 15px;
  }

  .body {
    padding: 30px 20px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 26px;
  }

  .btn {
    font-size: 18px;
  }

  .text {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    max-width: 240px;
    margin: 0 auto;
    padding: 15px;
  }
}

@media (max-width: 350px) {
  .body {
    padding: 20px 15px;
  }
}
