.card {
  position: relative;
  width: 100%;
  max-width: 530px;
  background: #ffffff;
  border: 2px dashed black;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
}
.card:active {
  transform: scale(0.99);
}

.checkbox {
  display: block;
  height: 100%;
  padding: 30px 0 0 0;
  margin-left: -5px;
  width: 15%;
  background: #fafafa;
}

.titleAndPrice {
  padding-left: 8px;
  border-left: 1px solid #d8d8d8;
}
.info {
  padding: 30px 20px 0 0;
}
.title {
  text-align: start;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  top: -5px;
  padding-left: 10px;
}

.prices {
  display: block;
  text-align: left;
  margin-left: 10px;
}
.price {
  font-family: Arial, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #979797;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .info {
    padding: 15px 0 0 0;
  }
  .card {
    padding: 0 5px;
  }
  .title {
    font-size: 12px;
    line-height: 16px;
    padding-left: 0;
  }
  .price {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .prices {
    margin-left: 0;
  }
  .checkbox {
    padding-top: 15px;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 10px;
  }

  .checkbox {
    width: 12%;
  }
}

@media (max-width: 400px) {
  .card {
    padding: 0 0 0 5px;
    min-height: initial;
  }
  .info {
    padding: 20px 10px 0 0;
  }
  .title {
    font-size: 10px;
    padding-left: 0;
  }
  .prices {
    margin-left: 0;
  }
  .checkbox {
    padding-top: 25px;
  }
}

@media (max-width: 345px) {
  .checkbox {
    width: 10%;
    padding-top: 20px;
  }
  .checkbox img {
    width: 15px;
  }
  .title {
    font-size: 8px;
    line-height: 10px;
  }
  .price {
    font-size: 10px;
    line-height: 16px;
  }
}
