.wrapper {
  position: relative;
  background: #f2f4f8;
  min-height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.innerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 84px);
}

.resendEmailBtn {
  margin: -220px auto 70px auto;
  border: none;
  padding: none;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  text-decoration-line: underline;
  background: transparent;
  color: #4e6079;
}

.bottomNav {
  bottom: 0;
  width: 100%;
  background: #394451;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.bottomHelpBtn {
  background: none;
  border: none;
  text-decoration-line: underline;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  opacity: 0.8;
}
.bottomHelpBtn:hover,
.bottomHelpBtn:focus,
.bottomHelpBtn:active {
  color: white;
  background: none;
  opacity: 1;
}

.resendTimeoutInfo {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #929292;
  margin-top: -200px;
}
.resendAdditionalInfo {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #4e6079;
}
