.header {
  height: 50px;
  background: #394451;
  display: flex;
  justify-content: center;
}

.info {
  font-family: Arial, serif;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.info img {
  width: 15px;
  margin-right: 8px;
  margin-bottom: -2px;
}
