@font-face {
  font-family: "Georgia";
  src: local("Georgia"), url("./../fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: local("Georgia Bold"), url("./../fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: local("Georgia Italic"), url("./../fonts/Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  src: local("Georgia Bold Italic"), url("./../fonts/Georgia-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  outline: none;
}

.sales-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sales-view {
  flex: 1 1 auto;
}

/* Toastr */

.toastr {
  background-color: transparent !important;
  box-shadow: none !important;
  max-width: calc(100vw - 30px) !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  overflow: initial !important;
}

.toastr .rrt-left-container {
  display: none !important;
}
.toastr .rrt-middle-container {
  padding: 0 !important;
  width: 100% !important;
  margin: 0 !important;
  max-width: calc(100vw - 40px) !important;
}

.top-center,
.top-center .toastr,
.bottom-center,
.bottom-center .toastr {
  width: 1028px !important;
}

.top-center,
.bottom-center {
  margin-left: 0 !important;
  transform: translateX(-50%) !important;
  max-width: calc(100vw - 20px);
}

.toastr .rrt-title {
  background: white !important;
}

.toastr.rrt-message {
  background: white !important;
}
