.formWrapper {
  margin: 50px 0 20px;
}

.heading {
  color: black;
  font-weight: 900;
  font-size: 40px;
  margin: 40px 0 20px;
}

.smallHeader {
  font-family: Arial, serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.submit {
  width: 100%;
  max-width: 340px;
  height: 70px;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04px;
  background: linear-gradient(180deg, #59931f 2.73%, #346800 95.49%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  margin: -140px auto 130px auto;
}
.submit:after,
.submit:before {
  display: none;
}
.submit:hover,
.submit:active,
.submit:focus {
  background: linear-gradient(180deg, #406b15 2.73%, #244701 95.49%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

/* Labels */

.success {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 18px 40px;
  border-radius: 4px;
  background: #249b56;
  filter: drop-shadow(0px 5px 12px rgba(36, 155, 86, 0.4));
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: calc(100% - 40px);
  max-width: 850px;
  z-index: 100;
}

.success img {
  margin-right: 10px;
}

.error {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 18px 40px;
  border-radius: 4px;
  background: #cc0033;
  filter: drop-shadow(0px 5px 12px rgba(36, 155, 86, 0.4));
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: calc(100% - 40px);
  max-width: 850px;
  z-index: 100;
}

.error span::first-letter {
  text-transform: uppercase;
}

.error img {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .heading {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .submit {
    max-width: 90%;
    font-size: 18px;
    height: 68px;
    padding-bottom: 2px;
    margin: -120px auto 90px auto;
  }

  .formWrapper {
    margin: 35px 0 20px;
  }
}
