.field {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-style: normal;
  font-weight: normal;
}

/* Appearances */

.default {
  color: black;
}
.error {
  font-family: Arial, sans-serif;
  color: #ed1c24;
  margin-top: 5px;
}
.warning {
  color: orange;
}
.success {
  color: green;
}

/* Placement */

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* Sizes */

.large {
  font-size: 14px;
  font-weight: 600;
  min-height: 24px;
  margin-bottom: 4px;
}
.big {
  font-size: 12px;
  min-height: 20px;
  margin-bottom: 3px;
}
.medium {
  font-size: 11px;
  min-height: 18px;
  margin-bottom: 2px;
}
.small {
  font-size: 9px;
  min-height: 14px;
  margin-bottom: 2px;
}

/* Icons */

.large img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-bottom: -2px;
}
.big img {
  height: 13px;
  width: 13px;
  margin-right: 4px;
  margin-bottom: -2px;
}
.medium img {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  margin-bottom: -2px;
}
.small img {
  height: 10px;
  width: 10px;
  margin-right: 2px;
  margin-bottom: -2px;
}
