.bg {
  background: #fafafa;
  overflow: hidden;
}

.container {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
}
