.container {
  text-align: center;
  margin-top: 60px;
}

.title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
}

.text :global p,
.text :global a {
  font-family: Arial, serif;
  margin-top: 40px;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.01em;
  width: calc(100% + 150px);
  margin-left: -75px;
  color: #7d7d7d;
}

.securityGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 100px 0 40px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #c4c4c4;
}

.gridItem {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 20px;
}

.securityText {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin-top: 12px;
  word-break: break-all;
}

.securityBadge {
  text-align: center;
  margin: 30px 0;
}

.lockSubtitle {
  font-family: Arial, serif;
  background: #fafafa;
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.securityImg {
  border: 2px solid rgba(34, 34, 34, 0.75);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 25px 45px;
  max-width: 790px;
  width: 100%;
  margin-top: -30px;
}

.link {
  font-family: Arial, serif;
  text-decoration: underline;
  color: #7d7d7d;
}

@media (max-width: 1250px) {
  .text {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .securityGrid {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 22px;
  }
  .text {
    font-size: 16px;
  }
  .lockSubtitle {
    padding: 0;
    margin: 20px auto;
    width: 250px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
  .text {
    font-size: 14px;
  }
  .gridItem {
    gap: 10px;
  }
  .securityImg {
    padding: 20px 15px;
  }
}
