.emailContainer {
  max-width: 180px;
  border: 0.710983px solid #dadada;
  border-radius: 9px;
  box-sizing: border-box;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
}
.emailIcon {
  width: 45%;
}
.emailIcon img {
  width: 42px;
}
.emailName {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  font-size: 19px;
  font-weight: 600;
  color: #606367;
  background: rgba(0, 0, 0, 0.05);
  height: 70px;
}
