.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.wrapper {
  position: relative;
  display: flex;
}

.input {
  font-style: normal;
  font-weight: 400;
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea.input {
  padding-top: 14px;
  padding-bottom: 14px;
  height: auto;
  resize: vertical;
}

/* Password Type */

.eyeBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  margin: 0 !important;
  padding: 0 8px !important;
  opacity: 0.45;
  min-height: 100%;
}

.eyeBtn:hover {
  opacity: 1;
}

.eyeBtn:focus {
  opacity: 1;
}

.eyeBtn:active {
  opacity: 1;
}

.eyeBtn img {
  width: 18px;
}

.passwordInput {
  padding-right: 35px !important;
}

/* Styles */

.primary {
  font-family: Arial, sans-serif;
  color: #10182f;
  background: #f2f5f7;
  border: 1px solid #ced0da;
  border-radius: 4px;
}

.secondary {
  background: #f7f7f7;
  border: 0.7px solid #c7c7c7;
  border-radius: 4px;
}

.alternative {
  border: 0;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10077);
  color: #000;
  font-style: normal;
  font-weight: normal;
}

.input:disabled {
  opacity: 0.5;
}

/* Placeholder */

.primary::placeholder {
  color: #757575;
}

.secondary::placeholder {
  color: #a6a6a6;
}

.alternative::placeholder {
  color: #757575;
}

/* Sizes */

.large {
  height: 62px;
  font-size: 24px;
  padding: 0 28px;
}
.big {
  height: 56px;
  font-size: 16px;
  padding: 0 22px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.medium {
  height: 42px;
  font-size: 14px;
  padding: 0 14px;
}
.small {
  height: 32px;
  font-size: 11px;
  padding: 0 10px;
}

/* Focus */
.primary:focus {
  border: 1px solid #009de9;
}

.secondary:focus {
}

.alternative:focus {
}

/* Hover */
.primary:hover {
  border: 1px solid #009de9;
}

.secondary:hover {
}

.alternative:hover {
}

/* Status */

.default {
}

.warning {
  background: #fffcf7;
  border-color: #ffa600;
}

.error {
  background: #fef7f8;
  border-color: #c0392b;
}

.success {
}

/* State */

.required::before {
  content: "";
  width: 5px;
  height: 100%;
  background: #59931f;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media (max-width: 480px) {
  .big {
    height: 62px;
  }
}