.wrapper {
  position: relative;
}

.form {
  background: #ffffff;
  border: 1px solid rgba(185, 187, 197, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 88, 159, 0.3);
  border-radius: 6px;
  padding: 30px 355px 200px 355px;
  width: calc(100% + 150px);
  margin-left: -75px;
  margin-top: 35px;
  overflow: hidden;
}

.topTitle {
  font-family: Arial, serif;
  text-align: center;
  font-size: 32px;
  line-height: 42px;
}

.arrowImgWrapper {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.arrowImgWrapper:after {
  content: "";
  position: absolute;
  top: 20px;
  left: -470px;
  height: 2px;
  width: 600px;
  background: #f3f3f3;
}

.arrowImgWrapper:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -470px;
  height: 2px;
  width: 600px;
  background: #f3f3f3;
}

.arrowImgWrapper img {
  animation: arrowAnim 2s ease-in-out 0s infinite;
}

@keyframes arrowAnim {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

.formCvc {
  display: grid;
  grid-template-columns: minmax(120px, 130px) 1fr 1fr;
  align-items: center;
}

.formCvc :global .message-error {
  min-width: 220px;
}

.input {
  display: flex;
  align-items: center;
  cursor: text;
}
.requireText {
  font-family: Arial, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  padding-left: 20px;
  margin-top: 15px;
}

.requireText:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 9px;
  background: #59931f;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 0;
  top: 0;
}

.formDouble {
  margin-top: 5px;
}

.formDouble > div {
  margin-bottom: 5px;
}

@media (max-width: 1050px) {
  .form {
    padding: 30px 200px 200px 200px;
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .form {
    padding: 25px 40px 200px 40px;
  }
}

@media (max-width: 768px) {
  .arrowImgWrapper:after,
  .arrowImgWrapper:before {
    width: 700px;
  }
}

@media (max-width: 600px) {
  .form {
    padding: 20px 20px 175px 20px;
    margin-top: 20px;
  }

  .formDouble {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .arrowImgWrapper:after,
  .arrowImgWrapper:before {
    width: 570px;
  }

  .topTitle {
    font-size: 22px;
    line-height: 28px;
  }
}
